APP_NAME=Puyo_LavaLust_Lab5
APP_KEY=change-this-to-a-long-random-value
APP_ENV=development

DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=mydb
DB_CHARSET=utf8mb4
DB_SSL=false
DB_SSL_CA=ca.pem
